#happy-client {
  margin-top: 30px;
  width: 100%;
  padding: 30px 0;
  background-color: rgb(101, 203, 221);
  .happy-client {
    margin-top: 30px;
    width: 100%;
    .happy-title{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
       h2 {
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-size: 40px;
      font-weight: 100;
      color: rgb(255, 252, 252);
      &::after {
        margin-top: 12px;
        content: "";
        display: block;
        border: 1px solid rgb(255, 255, 255);
        width: 25%;
      }
    }
    p {
      width: 50%;
      display: flex;
      justify-content: center;
      color: white;
    }
    }
    .project{
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      align-items: center;
      i{
        font-size: 35px;
        padding: 13px;
        border: 6px solid rgb(203, 234, 240);
        border-radius: 50%;
        margin-right: 15px;
        background-color: white;
      }
      h3{
        font-weight: 700;
        color: white;
      }
      h5{
        color: white;
      }
    }
  }
}
