* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.burger-modal {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(17, 17, 17, 0.9);
}
.burger-modal .burger-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.burger-modal .burger-nav ul li {
  margin: 20px 0;
  list-style: none;
}
.burger-modal .burger-nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}
.burger-modal #modal-remove {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 40px;
  color: white;
  margin: 20px;
}

#header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: white;
}
#header .header-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header-1 p {
  width: 17%;
  font-weight: 500;
  margin: 0;
}
#header .header-1 nav ul {
  margin: 0;
  display: flex;
  align-items: center;
}
#header .header-1 nav ul li {
  font-weight: 500;
}
#header .header-1 nav ul li i {
  margin-left: 10px;
  padding: 25px 30px;
  background-color: #f6214b;
  font-size: 18px;
}
#header .header-1 .menuBtn {
  display: none;
}
#header hr {
  margin: 0;
}
#header .header-2 {
  display: block;
  margin: 13px 0;
}
#header .header-2 nav .pages {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header-2 nav .pages li {
  list-style: none;
  margin: 0 15px;
}
#header .header-2 nav .pages li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: black;
}
#header .header-2 nav .pages li .home {
  color: #f6214b;
}

@media only screen and (max-width: 991px) {
  #header .container .header-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
  }
  #header .container .header-1 p {
    display: none;
  }
  #header .container .header-1 nav {
    display: none;
  }
  #header .container .header-1 .menuBtn {
    font-size: 24px;
    color: #f6214b;
    display: block;
  }
  #header .header-2 {
    display: none;
  }
}
#hero-section {
  width: 100%;
  height: 100vh;
  background-image: url(/assets/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero-section .hero-bg {
  background-color: rgba(31, 30, 30, 0.7);
}
#hero-section .hero-bg .hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero-section .hero-bg .hero-section h1 {
  width: 52%;
  font-size: 60px;
  font-weight: 700;
  color: white;
}
#hero-section .hero-bg .hero-section p {
  color: white;
}

#care-about {
  width: 100%;
}
#care-about .care-about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#care-about .care-about .care-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#care-about .care-about .care-title h1 {
  margin-top: 100px;
}
#care-about .care-about .care-title p {
  margin-top: 15px;
  margin-bottom: 50px;
}
#care-about .care-about .search-sort {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#care-about .care-about .search-sort input {
  margin: 15px 0;
  padding: 8px 60px;
  border: 1px solid #f6214b;
  border-radius: 8px;
  font-size: 18px;
  color: #f6214b;
  outline: none;
}
#care-about .care-about .search-sort button {
  padding: 8px 40px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  background-color: #f6214b;
  color: white;
}
#care-about .care-about .cards {
  margin: 20px 0;
}
#care-about .care-about .cards .care-card {
  border: 1px solid #f6214b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
#care-about .care-about .cards .care-card img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
}
#care-about .care-about .cards .care-card h4 {
  margin: 20px;
}
#care-about .care-about .cards .care-card p {
  height: 8vh;
  margin: 0 7px;
  margin-bottom: 12px;
  color: gray;
}
#care-about .care-about .cards .care-card .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  margin-bottom: 12px;
  padding: 10px;
}
#care-about .care-about .cards .care-card .buttons a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 5px;
}
#care-about .care-about button {
  background-color: #f6214b;
  color: white;
}
#care-about .care-about button:hover {
  background-color: transparent;
  border: 1px solid #f6214b;
  color: #f6214b;
  transition: all 1s;
}

#top-course {
  width: 100%;
}
#top-course .top-course .top-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#top-course .top-course .top-title h1 {
  margin-top: 100px;
}
#top-course .top-course .top-title p {
  margin-top: 15px;
  margin-bottom: 50px;
}
#top-course .top-course .t-col {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#top-course .top-course .t-col .img-button {
  position: relative;
}
#top-course .top-course .t-col .img-button img {
  background-size: cover;
  width: 300px;
  height: 230px;
  margin-top: 30px;
}
#top-course .top-course .t-col .img-button img:hover {
  transform: scale(1.1);
}
#top-course .top-course .t-col .img-button a {
  position: absolute;
  bottom: 20px;
  left: 10px;
  padding: 6px 50px;
  background-color: #f6214b;
  color: white;
}
#top-course .top-course .t-col .course-button {
  margin: 15px 0;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#top-course .top-course .t-col .course-button span {
  font-size: 20px;
  font-weight: 500;
}
#top-course .top-course .t-col .course-button p {
  margin: 0;
  color: #f6214b;
  font-size: 20px;
  font-weight: 500;
}

#huge-section {
  width: 100%;
  height: 50vh;
  margin: 100px 0;
  background-image: url(/assets/images/callto-bg.jpg);
  background-size: cover;
}
#huge-section .huge-bg {
  background-color: rgba(29, 29, 29, 0.7);
}
#huge-section .huge-bg .huge-section {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#huge-section .huge-bg .huge-section h1 {
  font-weight: 600;
  color: white;
}
#huge-section .huge-bg .huge-section p {
  margin: 15px 0;
  width: 62%;
  color: white;
}
#huge-section .huge-bg .huge-section a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 40px;
  background-color: #f6214b;
  border: 1px solid #f6214b;
  border-radius: 25px;
  color: white;
  margin: 30px 0;
}
#huge-section .huge-bg .huge-section a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  transition: all 1s;
}

footer {
  width: 100%;
}
footer .footer {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer p {
  margin: 0;
  color: #777777;
}
footer .footer p span {
  color: #f6214b;
}
footer .footer .icons {
  display: flex;
  align-items: center;
  justify-content: end;
}
footer .footer .icons i {
  font-size: 16px;
  padding: 15px;
  background-color: rgb(33, 33, 33);
  margin: 0 4px;
  color: #777777;
}
footer .footer .icons i:hover {
  background-color: #f6214b;
  color: #777777;
}
@media only screen and (max-width: 778px) {
  footer .icons {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
}/*# sourceMappingURL=main.css.map */