*{
    margin: 0;
    padding: 0 5%;
    text-decoration: none;
    list-style: none;
}
.update{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 40px
}
button{
    margin: 20px;
}