footer{
    margin-top: 100px;
    width: 100%;
    height: 15vh;
    background-color: blue;
    color: white;
    .footer-section{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
