.startbtn{
    font-size: 24px;
    padding: 8px 30px;
    margin: 5px;
    background-color: green;
    border-color: transparent;
    color: rgb(255, 255, 255);
}
.result{
    font-size: 28px;
}
.stopbtn{
    color: rgb(255, 255, 255);
    padding: 8px 30px;
    font-size: 24px;
    margin: 5px;
    background-color: red;
    border-color: transparent;
}
.increment,.decrement{
    font-size: 24px;
    padding: 8px 40px;
    color: #fff;
    background-color: rgb(71, 137, 190);
    margin: 3px;
    border-color: transparent;
}
.reset{
    font-size: 24px;
    padding: 8px 30px;
    background-color: #ff7300;
    border-color: transparent;
}
.input{
    font-size: 20px;
    padding: 5px 30px;
    border-color: rgb(255, 51, 0);
}
.inputbtn{
    font-size: 24px;
    padding: 8px 30px;
    border-color: transparent;
    background-color: antiquewhite;
    color: black;
}
